{% include header.html %}

<main id="main">
    <span class="statusbar"></span>

    <!-- Wrap all page content here -->
    <div id="wrap">
        <div id="main-content" class="container">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- side bar -->
                <nav id="nav" role="navigation" class="col-sm-2 sidebar-offcanvas">
                    <header id="menu" role="banner">
                        <p class="menu-title">Close</p>
                        <a href="#nav" class="close-btn">Close</a>
                    </header>

                    <ul class="sidebar" >
                        <p class="separator">Navigation</p>
                        <li><a href="/">Home</a></li>
                        <li><a href="{{site.url}}/blog.html">Blog</a></li>
                        <li><a href="{{site.url}}/project.html">Projects</a></li>
                        <li><a href="{{site.url}}/contact.html">Contact</a></li>
                    </ul>
                </nav>
                <header id="menu" role="banner">
                    <p class="menu-title">Menu</p>
                    <a href="#nav" class="menu-btn">navigation</a>
                </header>
                <!-- Content -->
                <div class="content col-sm-10">
                    <div class="top-nav">
                        {{ site.name }}
                        <span class="pull-right">
                            <a class="link" href="https://github.com/songsongdahu/songsongdahu.github.io">About</a>
                            <a class="link" style="color:#55acee" href="https://twitter.com/ssdh233{{site.owner.twitter}}" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="link" style="color:#333" href="https://github.com/songsongdahu{{site.owner.github}}" target="_blank">
                                <i class="fa fa-github-square"></i>
                            </a>
                        </span>
                    </div>
                    <div class="row">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include footer.html %}