---
layout: default
---
<div class="col-sm-12">
    <div class="posts">
        <div class="page-title">
            {{ page.title }}
            <div class="postlist-meta">
                Posted
                {{ page.date |  date: "%A %-d %B %Y" }}
            </div>
        </div>
        <div class="post">
            {{ content }}
        </div>
    </div>
</div>
<script>
    $(".page-preview-icon").hover(function(){
        $(this).parents(".page-nav").css("z-index","5000");
    });
</script>
